<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Tour</title>
</head>
<body>
    <table>
        <tr>
            <th>Confirm Booking, <%=@firstname%> </th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=@firstame%></p>
                <p><img src="" alt=""></p>
                <p>
                    You've booked a tour <br>
                     <br>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>