<div>
    <div class="logo">
        Quix Travels
    </div>
    <div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        <ul>
            <li routerLink="/">Home</li>
            <!-- <li>Who We Are</li> -->
            <!-- <li routerLink="/view-adventures">View Adventures</li> -->
            <!-- <li> <a href="#/avaliable-tours">View Adventures</a></li> -->
            <!-- <li>Find Us</li> -->
            <li routerLink="/register" *ngIf="!isLoggedIn" class="register">Register</li>
            <li routerLink="/login" *ngIf="!isLoggedIn" class="login" data-cy="login">Login</li>
            <li (click)="logout()" *ngIf="isLoggedIn" >Logout</li>
        </ul>      
    </div>
</div>
