<app-navbar></app-navbar>

<!-- <div *ngIf="tours.length > 0; else noToursMessage">
    <div *ngFor="let tour of tours">
      <h2>{{ tour.tourId }}</h2>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Booking Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings; let i i = index">
            <td>{{ booking.bookinId }}</td>
            <td>{{ booking.userId }}</td>
            <td>{{ booking.tourId }}</td>
            <td>{{ booking.bookingDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  <ng-template #noToursMessage>
    <p>No tours available.</p>
  </ng-template> -->
