<app-navbar></app-navbar>

<div class="container">
  <p class="title">{{title}}</p><br>
  <p class="subtitle">{{subtitle}}</p>
</div>

<div class="section-below">
  <div class="card">
      <p class="card-title">Special Offers & Discount!</p>
      <p class="card-description">Quix Travel Is an award-winning team that offers round the clock support during your trip and 100% financial protection so you know you are in safe hands. With us you can dream, book and travel carefree</p>
  </div>

  <div class="card">
      <p class="card-title">Local Destinations</p>
      <p class="card-description">Leading Tour Packages Booking website,Over 30,000 Hotel rooms worldwide. Book Hotel rooms and enjoy your holidays with distinctive experience</p>
  </div>

  <div class="card">
      <p class="card-title">Kenya's leading tour and travel company</p>
      <p class="card-description">Kenya's leading tour and travels Booking website,Over 30,000 packages worldwide..</p>
  </div>
</div>

<!-- <app-whoweare [whoweare-title]="''" [whoweare-sub]="" [whoweareimage]=""></app-whoweare> -->
