<app-navbar></app-navbar>
<div>
    <p class="title"></p><br>
</div>

<div>
    <table class="w-full table-auto border-collapse border border-slate-400">
        <thead>
            <tr>
                <th class="border border-slate-300 p-2">No.</th>
                <th class="border border-slate-300 p-2">First Name</th>
                <th class="border border-slate-300 p-2">Last Name</th>
                <th class="border border-slate-300 p-2">Email</th>
                <th class="border border-slate-300 p-2">Profile</th>
                <th class="border border-slate-300 p-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td class="border border-slate-300 p-2">{{i+1}}</td>
                <td class="border border-slate-300 p-2">{{user.firstname}}</td>
                <td class="border border-slate-300 p-2">{{user.lastname}}</td>
                <td class="border border-slate-300 p-2">{{user.email}}</td>
                <td class="border border-slate-300 p-2">
                    <img src="{{user.content}}" alt="" width="50px">
                </td>
                <td class="border border-slate-300 p-2 flex justify-center">
                    <button class="action-button">
                        Edit
                      </button>
                      <button class="action-button" (click)="deleteUser(user.userId)">
                        Delete
                      </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

