<div class="sidebar">
  <div class="accordion">
      <button class="accordion-btn" (click)="toggleAccordion('tours')">
          Tours 
      </button>
      <div class="accordion-content" id="tours">
        <div>
            <a routerLink="/view-tours">View Tours</a><br>
        </div>
        <div>
            <a routerLink="/create-tour">Add Tour</a>
        </div>  
      </div>

      <button class="accordion-btn" (click)="toggleAccordion('users')">
          Users
      </button>
      <div class="accordion-content" id="users">
          <a routerLink="/users">View Users</a>
      </div>

      <button class="accordion-btn" (click)="toggleAccordion('bookings')">
          Bookings
      </button>
      <div class="accordion-content" id="bookings">
          <a routerLink="">View Bookings</a>
      </div>

      <button class="accordion-btn" (click)="toggleAccordion('reviews')">
          Reviews
      </button>
      <div class="accordion-content" id="reviews">
          <a routerLink="">View Reviews</a>
      </div>
  </div>
</div>
