<div class="sidebar">
    <div class="accordion">
      <button class="accordion-btn" (click)="toggleAccordion('tours')">Tours</button>
      <div class="accordion-content" id="tours">
        <a > View Tours</a>
        <a >Add Tour</a>
      </div>
  
      <button class="accordion-btn" (click)="toggleAccordion('users')">Users</button>
      <div class="accordion-content" id="users">
        <a >View Users</a>
      </div>
  
      <button class="accordion-btn" (click)="toggleAccordion('bookings')">Bookings</button>
      <div class="accordion-content" id="bookings">
        <a>View Bookings</a>
      </div>
  
      <button class="accordion-btn" (click)="toggleAccordion('reviews')">Reviews</button>
      <div class="accordion-content" id="reviews">
        <a >View Reviews</a>
      </div>
    </div>
</div>
  