<app-admin-dashboard></app-admin-dashboard>

<div class="">
    <div class="">Available Tours</div>
    <div class="cards">
        <div class="card" *ngFor="let tour of tours">
            <div style="display:flex; flex-flow:column; gap:20px; margin:20px">
                <h2>{{tour.description}}</h2>
                <p>{{tour.price }}</p>
                <p>{{tour.startDate}}</p>
                <p>{{tour.endDate}}</p>
            </div>
            <img src="{{tour.image}}" alt="" width="150px" height="100%" style="align-self: flex-end; border-bottom-right-radius: 10px; border-top-right-radius: 10px;">
        </div>
    </div>
</div>