<app-navbar></app-navbar>
<div class="">
    <div class="services-title">Available Tours</div>
    <div class="cards">
        <div class="card" *ngFor="let tour of tours; let i = index">
            <div style="display:flex; flex-flow:column; gap:20px; margin:20px">
                <h4>{{tour.destination}}</h4>
                <p><b>$</b> {{tour.price}} </p>
                <p><b>Start Date: </b>{{tour.startDate}} </p>
                <p><b>End Date: </b>{{tour.endDate}} </p>
                <button class="book-now-button" (click)="bookNow(tour)" *ngIf="!isAdmin">Book Now</button>
                <button class="delete-now-button" (click)="deletetour(tour.tourId)" *ngIf="isAdmin" value="delete">Delete</button>
                <button class="update-now-button" (click="updatetour()" *ngIf="isAdmin")>Update</button>
            </div>
            <img src="{{tour.content}}" alt="" width="250px" height="100%" style="align-self: flex-end;">
        </div>
    </div>
</div>