.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.services-title {
    text-align: center;
    font-size: 24px; 
    margin-top: 30px; 
}


.cards {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 15vw;
    background: lightgray;
    border-radius: 10px;
    padding: 20px;
}

.book-now-button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-now-button{
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-now-button{
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
